@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
html{height:100%;font-family:"微软雅黑"}
body{height:100%;background:url(../img/1.jpg) no-repeat 0 0;background-size:100% 100%;}

#skin_control{position:fixed;right:20px;margin-top:20px;}
#skin_control #skin_button{display:inline-block;background:rgba(0,0,0,0.6); color:#fff;font-size:13px;padding:5px 15px;border-radius:4px;cursor:pointer;}
#skin_control #skin_content{overflow:hidden;margin-top:10px;background:rgba(0,0,0,0.5);padding:5px;border-radius:4px;width:330px;position:absolute;right:0;display:none;}
#skin_control #skin_content img{float:left;margin:5px 5px;width:100px;height:63px;box-sizing:border-box;}
#skin_control #skin_content img:hover{border:2px solid #fff;}